{% extends 'base.jinja' %}

{% block content %}
<div class="centered-flex">
<div class="exercise-form bg-orange">
    {% if exercise %}
        <h1>Edit: {{ exercise.name }}</h1>
    {% else %}
        <h1>Add exercise:</h1>
    {% endif %}

    {% if exercise %}
    <form action="/exercises/{{ exercise.id }}" method="POST">
    {% else %}
    <form action="/exercises" method="POST">
    {% endif %}
        <div>
            <label for="name">Name:</label>
            <input 
                type="text" 
                id="name" 
                name="name"
                value="{{ exercise.name }}"
                required
                autofocus 
            />
        </div>
        <div>
            <label for="sets">Sets</label>
            <input 
                type="number" 
                min="1"
                max="100"
                id="sets" 
                name="sets"
                value="{{ exercise.sets }}"
                required/>
        </div>
        <div>
            <label for="reps">Reps</label>
            <input 
                type="number" 
                min="1"
                max="100"
                id="reps" 
                name="reps"
                value="{{ exercise.reps }}"
                required/>
        </div>
        <div>
            <label for="completed">Completed:</label>
            <input 
                type="checkbox" 
                id="completed" 
                name="completed" 
                {% if exercise.completed %}checked{% endif %}/>
        </div>
        <div>
            <label for="athlete">Athlete:</label>
            <select name="athlete_id">
                {% for athlete in athletes %}
                    <option {% if exercise.athlete_id == athlete.id %} selected {% endif %} value="{{ athlete.id }}">{{ athlete.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="button bg-black margin-top">Submit</button>
    </form>
</div>
</div>
{% endblock %}