* {
  margin: 0;
  padding: 0;
}

.completed-table {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  white-space: nowrap;
  padding-right: 50px;
}

.incomplete-table {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  white-space: nowrap;
}

.tables-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.tables {
  text-align: center;
  padding: 1rem;
  border-collapse: collapse;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.801);
}

body {
  text-decoration: none;
  background: url('/static/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: #fd7014;
}

nav {
  display: flex;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
  padding: 20px;
}

a:visited { 
  text-decoration: none; 
  color: #fd7014;
}

tr {
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
  border-right: 1px solid #a5a5a5;
  border-left: 1px solid #a5a5a5;
}

td {
  padding:1rem;
}

a {
  box-shadow: inset 0 0 0 0 #fd7014;
  color: #fd7014;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  text-decoration: none;
}

a:hover {
  box-shadow: inset 100% 0 0 0 #54b3d6;
  color: white;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.exercise-form {
  margin-top: 30px;
  font-size: large;
  text-align: center;
  border-radius: 5px;
  border-color: fd7014;
  padding: 1rem;
  align-items: center;
  height: min-content;
}

input {
  font-size: 16px;
  margin: 2px;
}

footer {
  text-align: center;
  bottom: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
}

.centered-flex {
  display: flex;
  flex: 1;
  justify-content: center;
}

.splash-page {
  padding: 2rem;
  margin: auto;
  width: 50%;
  text-align: center;
  border-radius: 1rem;
  justify-content: space-between;
}

.flash-msg {
  padding: 1rem;
  border-radius: 5px;
  margin: auto;
  margin-top: 3rem;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.flash-container {
  display: flex;
}

h2 {
  margin-bottom: 5px;
}

.tables-container {
  padding-top: 3rem;
}

.section-box {
  display: contents;
}

th {
  padding: 6px 12px;
}

.bg-orange {
  background-color: #fd7014;
  color: black;
}

a.bg-orange:visited {
  color: black;
}

.show-exercise {
    margin-top: 30px;
    font-size: large;
    text-align: center;
    border-radius: 5px;
    border-color: fd7014;
    padding: 1rem;
    align-items: center;
    height: min-content;
    background-color: black;
}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button {
    padding: 0.25em 0.75em;
  }
}

.button {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px #fd7014, 2px 2px 0px 0px #fd7014, 3px 3px 0px 0px #fd7014, 4px 4px 0px 0px #fd7014, 5px 5px 0px 0px #fd7014;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.bg-black {
  background-color: black;
  color: #fd7014;
}

.button.bg-black {
  box-shadow: 1px 1px 0px 0px black, 2px 2px 0px 0px black, 3px 3px 0px 0px black, 4px 4px 0px 0px black, 5px 5px 0px 0px black;
  border-color: white;
}

.margin-top {
  margin-top: 1rem;
}

h2, nav {
letter-spacing: 2px;
text-transform: uppercase;
}

.margin-bottom {
  margin-bottom: 1rem;
}
.button:hover, .button.bg-orange:hover {
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  color: white;
}
