{% extends 'base.jinja' %}

{% block content %}

<section class="splash-page">
<div class="centered-flex">
    <div>
    <h2>Thank you for choosing eLeet's workout assistant</h2>
    <h3>Please navigate to the page you wish to visit using the menu links</h3>
    </div>
    </div>
</section>
{% endblock %}